In [1]:
import pandas as pd
import numpy as np

In [2]:
movies = pd.read_csv("ml-1m//movies.dat", sep ="::", engine="python", header = None, names=["MovieID","Title","Genres"] )
movies.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [3]:
ratings =  pd.read_csv("ml-1m//ratings.dat", sep ="::", engine="python", header = None, names=["UserID","MovieID","Rating","Timestamp"])
ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [4]:
users = pd.read_csv("ml-1m/users.dat", #tab do podpowiadania sciezek do plikow
            sep="::",
            engine="python",
            header=None,
            names=["UserID", "Gender", "Age", "Occupation", "Zip-code"]) 
users.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

## Rok produkcji filmu

In [5]:
# slice
# regex

movies["Year"] = movies.Title.str[-5:-1]
movies.Title = movies.Title.str[:-7]
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 4 columns):
MovieID    3883 non-null int64
Title      3883 non-null object
Genres     3883 non-null object
Year       3883 non-null object
dtypes: int64(1), object(3)
memory usage: 121.4+ KB

## Ilość filmów

In [6]:
len(movies)

3883

## Ile filmów powstało w poszczegołnych latach

In [7]:
movies.Year.value_counts().reset_index().rename({"index" : "Year", "Year" : "Count"},axis =1).sort_values(by="Year").head()

    Year  Count
77  1919      3
79  1920      2
80  1921      1
78  1922      2
75  1923      3

## jak wygląda rozkład płci oraz grup wiekowych wśród użytkowników

In [8]:
users.head()

   UserID Gender  Age  Occupation Zip-code
0       1      F    1          10    48067
1       2      M   56          16    70072
2       3      M   25          15    55117
3       4      M   45           7    02460
4       5      M   25          20    55455

In [9]:
pd.crosstab(users.Age,users.Gender)

Gender    F     M
Age
1        78   144
18      298   805
25      558  1538
35      338   855
45      189   361
50      146   350
56      102   278

## jaki gatunek filmowy jest najczęstszy

In [10]:
movies.head()

   MovieID                        Title                        Genres  Year
0        1                    Toy Story   Animation|Children's|Comedy  1995
1        2                      Jumanji  Adventure|Children's|Fantasy  1995
2        3             Grumpier Old Men                Comedy|Romance  1995
3        4            Waiting to Exhale                  Comedy|Drama  1995
4        5  Father of the Bride Part II                        Comedy  1995

In [11]:
movies.Genres.str.split("|", expand = True).stack().reset_index(drop=True).value_counts()

Drama          1603
Comedy         1200
Action          503
Thriller        492
Romance         471
Horror          343
Adventure       283
Sci-Fi          276
Children's      251
Crime           211
War             143
Documentary     127
Musical         114
Mystery         106
Animation       105
Fantasy          68
Western          68
Film-Noir        44
dtype: int64

## jaki jest najlepszy film wszechczasów, (najlepszy, czyli ma najwyższą średnią ocenę) - to zadanie możesz rozwiązać wykonując złączenie (join) zbioru movies i rating

In [12]:
ratings.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [13]:
wynik = pd.merge(movies,ratings,on="MovieID")
pd.pivot_table(wynik[["Title","Rating"]], index="Title",aggfunc="mean").sort_values(by="Rating",ascending=False).head(10)

                                    Rating
Title
Smashing Time                          5.0
Song of Freedom                        5.0
One Little Indian                      5.0
Ulysses (Ulisse)                       5.0
Baby, The                              5.0
Follow the Bitch                       5.0
Schlafes Bruder (Brother of Sleep)     5.0
Gate of Heavenly Peace, The            5.0
Bittersweet Motel                      5.0
Lured                                  5.0

## wykonaj poprzedni punkt, odrzucając wcześniej filmy które nie uzyskały wystarczająco dużo głosów (np 100)

In [14]:
srednieOceny = ratings.groupby("MovieID").agg({"Rating":["mean","size"]})
srednieOceny100 = srednieOceny[srednieOceny[("Rating", "size")] > 100]
srednieOceny100.columns = ["mean", "size"]
pd.merge(srednieOceny100, movies, left_index=True, right_on="MovieID").sort_values(by="mean", ascending = False)[0:1]

,mean,size,MovieID,Title,Genres,Year
1950,4.56051,628,2019,Seven Samurai (The Magnificent Seven) (Shichin...,Action|Drama,1954

## jaki jest najlepszy film według kobiet i według mężczyzn

In [15]:
ratings_users = pd.merge(ratings, users)
srednieOcenyPlcie = ratings_users.groupby(["MovieID", "Gender"]).agg({"Rating" : ["mean", "size"]})
srednieOcenyPlcie.columns = ["mean", "size"]
srednieOcenyPlcie = srednieOcenyPlcie.reset_index()
srednieOcenyPlcie100 = srednieOcenyPlcie[srednieOcenyPlcie["size"] > 100]
pd.merge(srednieOcenyPlcie100, movies).sort_values(by="mean", ascending=False).drop_duplicates(subset="Gender")

,MovieID,Gender,mean,size,Title,Genres,Year
474,745,F,4.644444,180,"Close Shave, A",Animation|Comedy|Thriller,1995
521,858,M,4.583333,1740,"Godfather, The",Action|Crime|Drama,1972

## jaki jest średni rok oglądanego filmu w poszczególnych grupach wiekowych

In [24]:
everything = pd.merge(pd.merge(movies,ratings),users)

#to powinno działać, ale nie działa

0          1995
1          1995
2          1995
3          1977
4          1993
5          1993
6          1992
7          1937
8          1991
9          1996
10         1996
11         1996
12         1995
13         1996
14         1964
15         1939
16         1958
17         1950
18         1964
19         1941
20         1965
21         1982
22         1975
23         1987
24         1962
25         1989
26         1985
27         1959
28         1996
29         1997
           ...
1000179    1999
1000180    1999
1000181    1999
1000182    1999
1000183    1999
1000184    1999
1000185    1999
1000186    1999
1000187    1999
1000188    1999
1000189    1999
1000190    1999
1000191    1999
1000192    1999
1000193    1999
1000194    1999
1000195    2000
1000196    2000
1000197    2000
1000198    2000
1000199    2000
1000200    2000
1000201    2000
1000202    2000
1000203    2000
1000204    2000
1000205    2000
1000206    2000
1000207    2000
1000208    2000
Name: Year, Length: 1000209, dtype: int64

,MovieID,Title,Genres,Year,UserID,Rating,Timestamp,Gender,Age,Occupation,Zip-code
0,1,Toy Story,Animation|Children's|Comedy,1995,1,5,978824268,F,1,10,48067
1,48,Pocahontas,Animation|Children's|Musical|Romance,1995,1,5,978824351,F,1,10,48067
2,150,Apollo 13,Drama,1995,1,5,978301777,F,1,10,48067
3,260,Star Wars: Episode IV - A New Hope,Action|Adventure|Fantasy|Sci-Fi,1977,1,4,978300760,F,1,10,48067
4,527,Schindler's List,Drama|War,1993,1,5,978824195,F,1,10,48067
5,531,"Secret Garden, The",Children's|Drama,1993,1,4,978302149,F,1,10,48067
6,588,Aladdin,Animation|Children's|Comedy|Musical,1992,1,4,978824268,F,1,10,48067
7,594,Snow White and the Seven Dwarfs,Animation|Children's|Musical,1937,1,4,978302268,F,1,10,48067
8,595,Beauty and the Beast,Animation|Children's|Musical,1991,1,5,978824268,F,1,10,48067
9,608,Fargo,Crime|Drama|Thriller,1996,1,4,978301398,F,1,10,48067
10,661,James and the Giant Peach,Animation|Children's|Musical,1996,1,3,978302109,F,1,10,48067
11,720,Wallace & Gromit: The Best of Aardman Animation,Animation,1996,1,3,978300760,F,1,10,48067
12,745,"Close Shave, A",Animation|Comedy|Thriller,1995,1,3,978824268,F,1,10,48067
13,783,"Hunchback of Notre Dame, The",Animation|Children's|Musical,1996,1,4,978824291,F,1,10,48067
14,914,My Fair Lady,Musical|Romance,1964,1,3,978301968,F,1,10,48067
15,919,"Wizard of Oz, The",Adventure|Children's|Drama|Musical,1939,1,4,978301368,F,1,10,48067
16,938,Gigi,Musical,1958,1,4,978301752,F,1,10,48067
17,1022,Cinderella,Animation|Children's|Musical,1950,1,5,978300055,F,1,10,48067
18,1028,Mary Poppins,Children's|Comedy|Musical,1964,1,5,978301777,F,1,10,48067
19,1029,Dumbo,Animation|Children's|Musical,1941,1,5,978302205,F,1,10,48067
20,1035,"Sound of Music, The",Musical,1965,1,5,978301753,F,1,10,48067
21,1097,E.T. the Extra-Terrestrial,Children's|Drama|Fantasy|Sci-Fi,1982,1,4,978301953,F,1,10,48067
22,1193,One Flew Over the Cuckoo's Nest,Drama,1975,1,5,978300760,F,1,10,48067
23,1197,"Princess Bride, The",Action|Adventure|Comedy|Romance,1987,1,3,978302268,F,1,10,48067
24,1207,To Kill a Mockingbird,Drama,1962,1,4,978300719,F,1,10,48067
25,1246,Dead Poets Society,Drama,1989,1,4,978302091,F,1,10,48067
26,1270,Back to the Future,Comedy|Sci-Fi,1985,1,5,978300055,F,1,10,48067
27,1287,Ben-Hur,Action|Adventure|Drama,1959,1,5,978302039,F,1,10,48067
28,1545,Ponette,Drama,1996,1,4,978824139,F,1,10,48067
29,1566,Hercules,Adventure|Animation|Children's|Comedy|Musical,1997,1,4,978824330,F,1,10,48067
...,...,...,...,...,...,...,...,...,...,...,...
1000179,2763,"Thomas Crown Affair, The",Action|Thriller,1999,5727,5,958492554,M,25,4,92843
1000180,2770,Bowfinger,Comedy,1999,5727,4,958490923,M,25,4,92843
1000181,2805,Mickey Blue Eyes,Comedy|Romance,1999,5727,4,958492371,M,25,4,92843
1000182,2827,"Astronaut's Wife, The",Sci-Fi|Thriller,1999,5727,2,958490886,M,25,4,92843
1000183,2840,Stigmata,Thriller,1999,5727,3,958492512,M,25,4,92843
1000184,2841,Stir of Echoes,Thriller,1999,5727,2,958492512,M,25,4,92843
1000185,2858,American Beauty,Comedy|Drama,1999,5727,5,958490857,M,25,4,92843
1000186,2881,Double Jeopardy,Action|Thriller,1999,5727,3,958490981,M,25,4,92843
1000187,2907,Superstar,Comedy,1999,5727,1,958492554,M,25,4,92843
1000188,3005,"Bone Collector, The",Thriller,1999,5727,2,958490923,M,25,4,92843
1000189,3053,"Messenger: The Story of Joan of Arc, The",Drama|War,1999,5727,3,958492345,M,25,4,92843
1000190,3081,Sleepy Hollow,Horror|Romance,1999,5727,4,958492512,M,25,4,92843
1000191,3113,End of Days,Action|Thriller,1999,5727,3,958490981,M,25,4,92843
1000192,3114,Toy Story 2,Animation|Children's|Comedy,1999,5727,5,958492554,M,25,4,92843
1000193,3176,"Talented Mr. Ripley, The",Drama|Mystery|Thriller,1999,5727,3,958492554,M,25,4,92843
1000194,3177,Next Friday,Comedy,1999,5727,1,958489748,M,25,4,92843
1000195,3273,Scream 3,Horror|Mystery|Thriller,2000,5727,4,958492479,M,25,4,92843
1000196,3301,"Whole Nine Yards, The",Comedy|Crime,2000,5727,5,958490142,M,25,4,92843
1000197,3316,Reindeer Games,Action|Thriller,2000,5727,3,958490699,M,25,4,92843
1000198,3317,Wonder Boys,Comedy|Drama,2000,5727,4,958489879,M,25,4,92843
1000199,3408,Erin Brockovich,Drama,2000,5727,5,958489879,M,25,4,92843
1000200,3409,Final Destination,Drama|Thriller,2000,5727,4,958490143,M,25,4,92843
1000201,3481,High Fidelity,Comedy,2000,5727,4,958489879,M,25,4,92843
1000202,3483,"Road to El Dorado, The",Animation|Children's,2000,5727,3,958490143,M,25,4,92843
1000203,3484,"Skulls, The",Thriller,2000,5727,1,958489902,M,25,4,92843
1000204,3513,Rules of Engagement,Drama|Thriller,2000,5727,4,958489970,M,25,4,92843
1000205,3535,American Psycho,Comedy|Horror|Thriller,2000,5727,2,958489970,M,25,4,92843
1000206,3536,Keeping the Faith,Comedy|Romance,2000,5727,5,958489902,M,25,4,92843
1000207,3555,U-571,Action|Thriller,2000,5727,3,958490699,M,25,4,92843
1000208,3578,Gladiator,Action|Drama,2000,5727,5,958490171,M,25,4,92843